{% extends 'base.html' %}
{% block content %}

<div class='container-fluid shadow rounded pb-2'>
    <form class='' action=' {{ url_for("reset_password", token = token) }}' method='post'>
        {{ form.hidden_tag() }}
        <fieldset>
            <div class='form-item'>
                {{ form.password.label ( class = 'form-item') }}
                {{ form.password (class = "form-input")}}
            </div>
            <div class='form-item'>
                {{ form.password_confirm.label ( class = 'form-item') }}
                {{ form.password_confirm (class = "form-input")}}
            </div>
            <div class='form-item'>
                {{ form.submit ( class = 'btn bg-grad white rounded-pill') }}
            </div>
        </fieldset>
    </form>
</div>


{% endblock %}