{% extends 'base.html' %}
{% block content %}
<div class="container ">

    <!-- For Demo Purpose -->
    <header class="text-center ">
        <h1 class="display-4">{{ title }}</h1>

    </header>


    <!-- Calendar -->
    <div class="shadow bg-white p-5">
        <div class="d-flex align-items-center"><i class="fa fa-calendar fa-3x mr-3"></i>
            <h2 class="month font-weight-bold mb-0 text-uppercase">{{ month }}</h2>
        </div>
        <ol class="list-unstyled">
            {% for wod in workouts%}
            <li class="content-section card border mb-3">
                <div class=" card-title font-weight-bold ">{{ wod.date.strftime('%a %Y%m%d') }}</div>
                {% for comp in wod.components%}
                <div class='card-text'>{{comp.description}}</div>
                {% endfor %}
            </li>
            {% endfor %}

        </ol>
    </div>
</div>

</div>


{% endblock content %}